on:
  workflow_call:
    inputs:
      skip-tests:
        type: boolean
        required: false
        default: false
      deploy:
        type: boolean
        required: true
      package-version:
        type: string
        required: true
      node-version:
        type: string
        required: false
        default: latest

    secrets:
      CODECOV_TOKEN:
        required: false
      NPM_TOKEN:
        required: true
      DISCORD_WEBHOOK:
        required: false
      # Reusable workflows don't propagate parent's execution context,
      # so we need this hack to pass additional environment variables from the caller.
      DYNAMIC:
        required: false

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install NodeJS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Enable Corepack
        run: corepack enable

      - name: Verify formatting
        run: npm run format --if-present

      - name: Perform linting
        run: npm run lint --if-present

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      contents: read

    env:
      # Secrets can't be referenced in conditionals, but environment variables can.
      # https://github.com/github/docs/issues/6861#issuecomment-870757186
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install NodeJS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: |
          if [ -e yarn.lock ]; then
            yarn install --immutable
          elif [ -e pnpm-lock.yaml ]; then
            pnpm install --frozen-lockfile
          else
            npm ci
          fi

      - name: Run tests
        # Skip tests here instead of the whole job to ensure the dependant jobs still run
        if: ${{ !inputs.skip-tests }}
        run: npm run test --if-present

      - name: Upload coverage
        if: ${{ env.CODECOV_TOKEN }}
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  pack:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      actions: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install NodeJS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: |
          if [ -e yarn.lock ]; then
            yarn install --immutable
          elif [ -e pnpm-lock.yaml ]; then
            pnpm install --frozen-lockfile
          else
            npm ci
          fi

      - name: Run build
        run: npm run build --if-present

      - name: Set package version
        run: npm version ${{ inputs.package-version }} --allow-same-version

      - name: Create package
        run: npm pack

      - name: Upload packages
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: packages
          path: "**/*.tgz"
          if-no-files-found: error

  deploy:
    if: ${{ inputs.deploy }}

    needs:
      - format
      - test
      - pack

    runs-on: ubuntu-latest
    timeout-minutes: 10

    permissions:
      actions: read
      contents: write

    steps:
      - name: Install NodeJS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: https://registry.npmjs.org

      - name: Enable Corepack
        run: corepack enable

      - name: Download packages
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: packages

      - name: Create release
        # Untagged deployments (e.g. from workflow_dispatch) don't need a full release
        if: ${{ github.ref_type == 'tag' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create ${{ github.ref_name }}
          $(find . -type f -wholename **/*.tgz -exec echo {} \; | tr '\n' ' ')
          --repo ${{ github.event.repository.full_name }}
          --title ${{ github.ref_name }}
          --generate-notes
          --verify-tag

      - name: Push packages
        run: npm publish --access public $(find . -type f -wholename **/*.tgz -exec echo {} \; | tr '\n' ' ')

  notify:
    needs: deploy
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      # Secrets can't be referenced in conditionals, but environment variables can.
      # https://github.com/github/docs/issues/6861#issuecomment-870757186
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}

    steps:
      - name: Notify Discord
        if: ${{ env.DISCORD_WEBHOOK }}
        uses: tyrrrz/action-http-request@1dd7ad841a34b9299f3741f7c7399f9feefdfb08 # 1.1.3
        with:
          url: ${{ secrets.DISCORD_WEBHOOK }}
          method: POST
          headers: |
            Content-Type: application/json; charset=UTF-8
          body: |
            {
              "content": "[**${{ github.event.repository.name }}**](<${{ github.event.repository.html_url }}>) v${{ inputs.package-version }} has been released!"
            }
          retry-count: 5
